/* Direct chield */
ul > li {
    background-color: greenyellow;
}

/*С този селектор ">", хващаме директнине деца на даден елемент,
като li e директно дете на ul (li inside ul) */

/* Аdjancet selector */
 .container-adjancet p + p {
    background-color: orange;    
} 

/*Аdjancet selector "+"- хващаме децата на дадения клас които са на едо ниво, които са P, но
винаги тези деца P които следват P, а не първият P (първия параграф се пропуска)
, но както в примера имаме отново div и след него два P, ПРОПУСКАМЕ ПЪРВИЯ, ЗАЩОТО
ТЪРСИМ SIBLING P, P КОИТО СЛЕДВА P */


/* General combo */
.container-general p ~ p {
    background-color: green;    
}

/*Сeлектор "~"- e като противоположен селектор на "+".
Тука заявяваме, че търсим всички P в дадения клас P КОИТО СЛЕДВАТ P
без значение, както в дадения пример имаме div по средата,
селектора хваща и двата P след div */


.container-adjancet p + div {
    background-color: gray;
}
.container-adjancet div + p {
    background-color: gray;
}

.nth-example li {
    background-color: unset;
}

.nth-example li:nth-child(1) {
    background-color: green;
}

.nth-example li:nth-child(odd) {
    background-color: blue;
}

.nth-example li:nth-child(even) {
    background-color: rgb(82, 77, 13);
}

/* .nth-example li:nth-child(2n +1) {
    background-color: rgb(157, 148, 18);
} */

/*nth-child slector-Хваща деца на дадени клас на едно и също ниво,
можем да селектираме по номера да даденото дете в редицата, 
по четен и нечетен номер или чрез форума както в последия пример */
