section {
    position: absolute;
    top: 15em;
    left: 11em;
}

section div {
    position: relative;
    bottom: 4.5em;
    left: 0.5em;
}
.price > span{
    position: absolute;
    padding-left: 3px;
    color: gray;
    font-size: 14px;
    bottom: -1.5em;
}
