* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #eee;
    padding: 2em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: #fff;
    width: 5em;
    height: 5em;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.4);
}