* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: 0 auto;    
}
.section-site.banner{
    background-color: #00052F;
}


.section-site.banner .container{
    border: 2px solid black;
    color: white;
}

.site-section {
    padding: 2em;
}

.site-header{
    display: flex;
    justify-content: space-between;
}

.site-header nav ul{
    display: flex;
} 

.site-header nav ul{
    list-style: none outside;
}