body{
    background: green;
    color: white;
}

p{
    color: gold;
}
 
a{
 color: white ;
}

a[href^="https://"]{
    color: orange;
}

.box{
    background: white;
}

.warning{
    color: red;
}

#header_my-html-document-title-css {
    font-size: 50px;
}